*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../images/pexels-leeloo-thefirst-5428824.jpg) no-repeat center center/ cover;

}


.container-qoute{
    width: 650px;
    height: 550px;
}
.main-heading{
    background-color: #262626;
    color: #fff;
     font-size: 1.2rem;
     border: solid 2px #fff;
     margin:20px auto;
     padding:5px;
     width:80%;

}
.main-heading .text-area{
    font-size: 1.7rem;
}
.main-content{
    width: 100%;
    background-color: #fff;
    height: 330px;
    border-radius: 15px;
    padding:50px 40px;
    box-shadow: 0 0 10px;
    position: relative;
    margin: 10px auto;
    text-align: center;
}

.main-content .text-area{
    font-size: 2.5rem;
    line-height: 2rem;
}

.person{
    text-transform: uppercase;
    color:red;
    margin: 20px auto;
    font-size: 1.5rem;
}

.button-area button{
    margin: 20px auto;
    position: absolute;
    bottom:20px;
    right: 40%;
    padding:10px 15px;
    border-radius: 15px;
    font-size: 1.3rem;
    background-color: #262626;
    color:#fff;
}